/**
 * Syntax highlighting styles
 */

 .code {
   background-color: #EDEDED;
  padding: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  font-family: Consolas, monospace;
  margin-left: 6px;
  margin-right: 6px;
 }

.highlight-title {
  padding-left: 15px;
  margin-bottom: -14px;
  margin-left: 20px;
  margin-right: 50px;
  background-color: rgb(207, 217, 224);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: Consolas, monospace, monospace;
  color: gray;
 }

.highlight pre { background-color: #EDEDED;   padding: 15px; margin-left: 20px;
    margin-right: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    line-height: 130%;
}


  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }


    html {
        overflow-y: scroll;
    }
    footer.page-footer {
      background-color: #ad1457;
    }

    header .brand-logo {
      margin: 0;
    }

    .indent {margin-left: 20px;}

    .sidebar-collapse {background-color: #ad1457;}

    .tabs .tab { background-color: rgb(238, 238, 238); }
    .tabs .tab .active { background-color: white;  }

    .tabs .indicator { top:0;}

    .navbar-fixed nav {
      background-color: #2E8CD2 !important;
      background-image: url('../images/header_background.jpg');
      background-repeat: no-repeat;
    }

    ul.bold li a {
      font-weight: bold !important;
    }

    li.wizard:hover{
      opacity: 1;
    }
    li.wizard{
      opacity: 0.6;
    }

li.edit-page:hover{
  opacity: 1;
}
li.edit-page{
  opacity: 0.4;
}

ul.changelog > li {
  list-style-type: square;
}


#features h4  { font-size: 18px; color: black; }
#features .s4 { font-size: 14px; line-height: 1.3; color: #888; padding: 15px; }

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div.version
{
   margin-left: 15px;
}

div.version > h4
{
   margin-left: 15px;
}
div.version > ul
{
     margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
        margin-left: 30px;
}


div.version > ul > li
{
  background-color: #fff;
  line-height: 0.9rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

div.version > ul > li:hover
{
      background-color: #F7F4F1;
}


.example-description
{
  color: #ADADAD;
  padding-left: 22px;
}

ul.examples li:hover {
      background-color: #F7F4F1;
}

ul.examples li:hover > span {
      color: black;
}

ul.issues li:hover {
      background-color: #F7F4F1;
}

ul.issues li:hover > span {
      color: black;
}

ul.issues li > span {
  display: block;
  color: rgb(160, 159, 159);
  padding-left: 20px;
}

.example-code{
  color: #5E8098;
}
.example-console {
  color: black;
}
.example-input {
  color: #6B986A;
}
.example-output {
  color: #AB7459;
}

.example-console-high > div > pre {
  background-color: #2D2D2D !important;
  color:white !important;
}
.example-input-high > div > pre {
  background-color: #E7EFE7 !important;
}
.example-output-high > div > pre {
  background-color: #F3EDEA !important;
}

.example-code-high > div > pre {
  background-color: #F2F6FC !important;
}


.example-console:after {
  content: "\f108";
  font-family: "FontAwesome";
  opacity: 0.5;
 }

.example-input:after {
  content: "\f0f6\f112";
  font-family: "FontAwesome";
  opacity: 0.5;
 }

 .example-output:after {
   content: "\f064\f0f6";
   font-family: "FontAwesome";
   opacity: 0.5;
  }
