**/[Bb]in/**
**/[Oo]bj/**
[Dd]ebug
[Rd]elease
_ReSharper.FileHelpers
*.suo
*.user
/Help
/Output
/TestResults
/Release
/Debug
/*.ncrunchsolution
/_ReSharper.FileHelpers.OnlyLib
/FileHelpers.Tests/Data/*/~$*

/FileHelpers.Benchmarks/Release
/FileHelpers.Tests/Release

/Release
/FileHelpers.Tests/Data/temp.txt

/packages
