**/[Bb]in/**
**/[Oo]bj/**
[Dd]ebug
[Rd]elease
_ReSharper.FileHelpers
*.suo
*.user
/Help
/Output
/TestResults
/Release
/Debug
/*.ncrunchsolution
/_ReSharper.FileHelpers.OnlyLib
/FileHelpers.Tests/Data/*/~$*
/FileHelpers.Benchmarks/Release
/FileHelpers.Tests/Release
/Release
/FileHelpers.Tests/Data/temp.txt
/packages
/FileHelpers/FileHelpers.xml
FileHelpers.sln.sdsettings
FileHelpers.ExcelStorage/FileHelpers.ExcelStorage.xml
FileHelpers.userprefs
/.vs
/FileHelpers.Analyzer/.vs
/FileHelpers.Analyzer/packages
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer/bin
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer/obj
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer.Test/bin
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer.Test/obj
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer.Vsix/bin
/FileHelpers.Analyzer/FileHelpers.Analyzer/FileHelpers.Analyzer.Vsix/obj
/FileHelpers.Examples/obj
