**/[Bb]in/**
**/[Oo]bj/**
[Dd]ebug
[Rd]elease
_ReSharper.FileHelpers
*.suo
*.user
/Help
/Output
/TestResults
/*.ncrunchsolution
/_ReSharper.FileHelpers.OnlyLib
/FileHelpers.Tests/Data/*/~$*
