# Custom for Visual Studio
*.cs     diff=csharp eol=crlf
*.sln    merge=union eol=crlf
*.csproj merge=union eol=crlf
*.vbproj merge=union eol=crlf
*.txt text eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
