image: Visual Studio 2019
version: 3.4.3.{build}

nuget:
  project_feed: true

build_script:
  - ps: dotnet restore FileHelpers.sln
  - ps: dotnet build FileHelpers.sln --no-restore --configuration Release
  - ps: dotnet pack FileHelpers.sln --configuration Release --no-restore --no-build --output Output

test_script:
  - ps: dotnet test FileHelpers.sln --logger:Appveyor

artifacts:
  - path: Output/*.nupkg
