<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="FileHelpers Online Wizar" />
    <meta name="author" content="Marcos Meli" />
    <meta name="keywords" content="filehelpers,CSV,C#,free,opensource,Devoo.net,Delimited Files,Import/Export">
    <meta name="copyright" content="2005-@DateTime.Today.Year to Devoo - Marcos Meli. All Rights Reserved.">

    <title>FileHelpers - @( ViewBag.PageTitle ?? "Wizard" )</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- CORE CSS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="http://www.filehelpers.net/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://www.filehelpers.net/css/style.custom.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="http://www.filehelpers.net/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
