
            <h4>A brief description of the attributes and the usage.</h4>

            <!--Striped Table-->
<style>

table.hoverable > tr > td { cursor: pointer; }

.attribute{ font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace; }

.useinread {  font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace; text-align: center;}
.useinwrite { font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace; text-align: center;}

</style>
<div id="attributes">
<div class="row">
            <div id="striped-table" class="col s11 offset-s1 m9 offset-m1 l6 ">
              <h4 class="header">Fixed Length Records</h4>
                  <table class="striped hoverable">
                    <thead>
                      <tr>
                        <th data-field="attribute">Attribute</th>
                        <th data-field="read" style="text-align:center">Read</th>
                        <th data-field="write" style="text-align:center">Write</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="attribute"><strong>FixedLengthRecord</strong><br><small>Indicates a fixed length record file</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreFirst</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreLast</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreEmptyLines</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">ConditionalRecord</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>


   <div id="striped-table" class="col s11 offset-s1 m9 offset-m1 l6 ">
              <h4 class="header">Delimited Records</h4>
                  <table class="striped hoverable">
                    <thead>
                      <tr>
                        <th data-field="attribute">Attribute</th>
                        <th data-field="read" style="text-align:center">Read</th>
                        <th data-field="write" style="text-align:center">Write</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td class="attribute"><strong>DelimitedRecord</strong><br><small>Indicates a delimited record file</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreFirst</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreLast</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">IgnoreEmptyLines</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">ConditionalRecord</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>

</div>

 <br/><br/>
            <!--Striped Table-->
            <div class="divider"></div>


<div class="row">
            <div id="striped-table" class="col s11 offset-s1 m9 offset-m1 l6 ">
              <h4 class="header">Fixed Length Fields</h4>
                  <table class="striped hoverable">
                    <thead>
                      <tr>
                        <th data-field="attribute">Attribute</th>
                        <th data-field="read" style="text-align:center">Read</th>
                        <th data-field="write" style="text-align:center">Write</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="attribute"><strong>FieldFixedLength</strong><br><small>Indicates a length of the field</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldConverter</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldQuoted</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldInNewLine?</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldHidden<br><small>The library ignore this field</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>


                      <tr>
                        <td class="attribute">FieldOptional</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>


                      <tr>
                        <td class="attribute">FieldNullValue</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldTrim ?</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldAlign</td>
                        <td class="useinread"></td>
                        <td class="useinwrite">X</td>
                      </tr>








                    </tbody>
                  </table>
            </div>


   <div id="striped-table" class="col s11 offset-s1 m9 offset-m1 l6 ">
              <h4 class="header">Delimited Fields</h4>
                  <table class="striped hoverable">
                    <thead>
                      <tr>
                        <th data-field="attribute">Attribute</th>
                        <th data-field="read" style="text-align:center">Read</th>
                        <th data-field="write" style="text-align:center">Write</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td class="attribute">FieldDelimiter<br><small>Indicates a new field end marker</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldConverter</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldQuoted</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldInNewLine?</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>
                      <tr>
                        <td class="attribute">FieldHidden<br><small>The library ignore this field</small></td>
                        <td class="useinread">X</td>
                        <td class="useinwrite">X</td>
                      </tr>


                      <tr>
                        <td class="attribute">FieldOptional</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>






                      <tr>
                        <td class="attribute">FieldNullValue</td>
                        <td class="useinread">X</td>
                        <td class="useinwrite"></td>
                      </tr>
                      <tr>
                        <td class="attribute">-</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="attribute">-</td>
                        <td></td>
                        <td></td>
                      </tr>

                    </tbody>
                  </table>
            </div>

</div>
</div>
