      </section>
      <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->


  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © {{ site.time | date: '%Y' }} <a class="grey-text text-lighten-4" href="http://www.devoo.net" target="_blank">Devoo - Marcos Meli</a> All rights reserved.</span>
        <span class="right"> Template Design by <a class="grey-text text-lighten-4" href="http://themeforest.net/item/materialize-material-design-admin-template/11446068">GeeksLabs</a></span>
        </div>
    </div>
  </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

     <!--scrollbar-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
<script>
   if (window.location.host == 'marcosmeli.github.io')
      window.location.href = window.location.href.replace('marcosmeli.github.io/FileHelpers', 'www.filehelpers.net');
   else if (window.location.host == 'www2.filehelpers.com')
      window.location.href = window.location.href.replace('www2.filehelpers.com', 'www.filehelpers.net');

</script>
