      </section>
      <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->


  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://www.devoo.net" target="_blank">Devoo - Marcos Meli</a> All rights reserved.</span>
        <span class="right"> Template Design by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
        </div>
    </div>
  </footer>


    <!-- jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    
     <!--scrollbar-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>

