<header class="site-header">

{% if page.showloader %}
  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
{% endif %}

  <header id="header" class="page-topbar">


        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="{{ site.baseurl }}/" class="brand-logo darken-1 " style="font-size: 32px;  text-shadow: 1px 1px 5px black;">
                      FileHelpers 3.1 {% if page.title %} - {{ page.title  }}{% endif %}</a></h1>

                    <ul class="right hide-on-med-and-down">

                      <li class="wizard tooltipped" data-position="bottom" data-delay="50" data-tooltip="Check the new Record Wizard">
                        <a href="http://wizard.filehelpers.net" alt="Check the new Record Wizard"  class="btn waves-effect waves-light pink">Online Wizard</a>
                      </li>

                    <li class="edit-page tooltipped" data-position="bottom" data-delay="50" data-tooltip="Buy us a beer"><a href="{{ site.baseurl }}/donate/" class="waves-effect waves-block waves-light" alt="Buy us a beer"><i class="fa fa-gift"></i></a>
                    </li>

                    <li class="edit-page tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit this page"><a href="https://github.com/MarcosMeli/FileHelpers/edit/gh-pages/{{ page.path }}" target="_blank" alt="Edit this page" class="waves-effect waves-block waves-light"><i class="mdi-editor-mode-edit"></i></a>
                    </li>

<!--
                    <li class="search-out">
                          <input type="text" class="search-out-text">
                    </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>
                        </li>
-->

                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->

  </header>


  <div id="main">
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
              <li class="bold"><a href="{{ site.baseurl }}/" class="waves-effect waves-cyan"><i class="mdi-action-home"></i> Introduction</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/download/" class="waves-effect waves-cyan"><i class="mdi-file-file-download"></i> Download</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/quickstart/" class="waves-effect waves-cyan"><i class="mdi-image-flash-on"></i> Quick Start</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/mustread/" class="waves-effect waves-cyan"><i class="fa fa-bookmark-o"></i> Must Read</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/examples/" class="waves-effect waves-cyan"><i class="mdi-image-palette"></i> More Examples</a></li>
              <li><a href="{{ site.baseurl }}/changelog"><i class="mdi-action-swap-vert-circle"></i> Changelog</a></li>

              <li class="li-hover"><div class="divider"></div></li>

            <li><a href="{{ site.baseurl }}/docs/"><i class="mdi-communication-live-help"></i> Api Docs (Sandcastle)</a></li>
            <li><a href="https://github.com/MarcosMeli/FileHelpers"><i class="fa fa-github"></i> Source Code</a></li>

            <li class="li-hover"><div class="divider"></div></li>
            <li class="bold"><a href="http://wizard.filehelpers.net" class="waves-effect waves-cyan"><i class="fa fa-magic"></i> Online Wizard</a></li>

          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>

      </aside>

      <!-- END LEFT SIDEBAR NAV-->


      <section id="content">
