<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="msapplication-tap-highlight" content="no">


  <title>{% if page.title %} {% if page.breadcrumbtext2 %}{{ page.breadcrumbtext2 }} - {% endif %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- CORE CSS-->
  
  <link href="{{ site.baseurl }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ site.baseurl }}/css/style.custom.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="{{ site.baseurl }}/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>
