<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="author"             content="Marcos Meli" />
  <meta NAME="keywords" Content="filehelpers,CSV,C#,free,opensource,Devoo.net,Delimited Files,Import/Export">
  <meta NAME="copyright" CONTENT="2005-{{ site.time | date: '%Y' }} to Devoo - Marcos Meli. All Rights Reserved.">
{% if page.description %}
  <meta NAME="description"        content="{{ page.description }}" />
{% else %}
  <meta NAME="description"        content="{{ site.description }}" />
{% endif %}


  {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}" /> {% endif %}

  <title>{% if page.title %}{% if page.breadcrumbtext2 %}{{ page.breadcrumbtext2 }} - {% endif %}{{ page.title }} - FileHelpers{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- CORE CSS-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ site.baseurl }}/css/style.custom.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="{{ site.baseurl }}/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

{% seo title=false %}

</head>
{% if page.redirect %}<script language="javascript">
    window.location.href = "{{ page.redirect }}"
</script>{% endif %}
