<header class="site-header">
 <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="{{ site.baseurl }}/" class="brand-logo darken-1 ">
                          FileHelpers <span class="logo-text">FileHelpers</span></h1>

                    <ul class="right hide-on-med-and-down">
                        <li class="search-out">
                            <input type="text" class="search-out-text">
                        </li>
                        <li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>                              
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
              <li class="bold"><a href="{{ site.baseurl }}/" class="waves-effect waves-cyan"><i class="mdi-action-home"></i> Introduction</a>
              </li>

              <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                      <li class="bold active"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-flash-on"></i> Quick Start</a>
                          <div class="collapsible-body">
                              <ul>

              

              <li class="bold"><a href="{{ site.baseurl }}/quick_start" class="waves-effect waves-cyan"> Delimited</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/quick_start_fixed" class="waves-effect waves-cyan"> Fixed Length</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/quick_start_async" class="waves-effect waves-cyan"> Record by Record</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/attributes" class="waves-effect waves-cyan"> Attributes</a>
              </li>

    </ul>
                          </div>
                      </li>
</ul>
</li>

              <li class="bold"><a href="{{ site.baseurl }}/features" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Features</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/download" class="waves-effect waves-cyan"><i class="mdi-file-file-download"></i> Download</a>
              </li>

              <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                      <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> Examples</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="{{ site.baseurl }}/examples">All Examples</a>
                                  </li>
                                  <li><a href="ui-buttons.html">Read FixedLength</a>
                                  </li>
                                  <li><a href="ui-badges.html">Read Delimited</a>
                                  </li>
                                  <li><a href="ui-cards.html">Cards</a>
                                  </li>
                                  <li><a href="ui-collections.html">Collections</a>
                                  </li>
                                  <li><a href="ui-accordions.html">Accordian</a>
                                  </li>                                        
                                  <li><a href="ui-navbar.html">Navbar</a>
                                  </li>
                                  <li><a href="ui-pagination.html">Pagination</a>
                                  </li>
                                  <li><a href="ui-preloader.html">Preloader</a>
                                  </li>
                                  <li><a href="ui-modals.html">Modals</a>
                                  </li>
                                  <li><a href="ui-media.html">Media</a>
                                  </li>
                                  <li><a href="ui-toasts.html">Toasts</a>
                                  </li>
                                  <li><a href="ui-tooltip.html">Tooltip</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      </ul>
</li>

<li><a href="{{ site.baseurl }}/docs/"><i class="mdi-communication-live-help"></i> Api Docs</a>
            </li>
<li><a href="{{ site.baseurl }}/changelog"><i class="mdi-action-swap-vert-circle"></i> Changelog</a>
            </li>
              <li class="li-hover"><div class="divider"></div></li>
              <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
              <li><a href="https://github.com/MarcosMeli/FileHelpers"><i class="mdi-file-cloud-queue"></i> Source Code</a>
            </li>

          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
      </aside>

      <!-- END LEFT SIDEBAR NAV-->

   
      <section id="content">
        
        {% unless page.breadcrumbhidden %}
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{ page.title  }}</h5>
                <ol class="breadcrumb">
                    <li><a href="{{ site.baseurl }}/">FileHelpers</a></li>

  {% if page.breadcrumbtext2 %} 
                    <li><a href="{{ site.baseurl }}/{{ page.breadcrumblink2 }}">{{ page.breadcrumbtext2 }}</a></li>
  {% endif %} 

                    <li class="active">{{ page.title  }}</li>

                </ol>
              </div>
            </div>
          </div>
        </div>

{% endunless %}         
