{% unless true && page.breadcrumbhidden  %}

        <div id="breadcrumbs-wrapper" class="grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <ol class="breadcrumb">
                    <li><a href="{{ site.baseurl }}/">FileHelpers</a></li>

    {% if page.breadcrumbtext2 %}
                    <li><a href="{{ site.baseurl }}/{{ page.breadcrumblink2 }}">{{ page.breadcrumbtext2 }}</a></li>
    {% endif %}

                    <li class="active">{{ page.title  }}</li>

                </ol>
              </div>
            </div>
          </div>
        </div>

{% endunless %}
