<header class="site-header">

{% if page.showloader %} 
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
{% endif %} 

  <header id="header" class="page-topbar">


        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav style="background-color: #2E8CD2 !important; background-image: url('{{ site.baseurl }}/images/header_background.jpg');   background-repeat: no-repeat;">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="{{ site.baseurl }}/" class="brand-logo darken-1 " style="font-size: 32px;  text-shadow: 2px 2px 5px rgba(36, 36, 36, 1);">
                      FileHelpers 3.1</a></h1>

                    <ul class="right hide-on-med-and-down">

                    <li class="edit-page tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit this page"><a href="https://github.com/MarcosMeli/FileHelpers/edit/gh-pages/{{ page.path }}" target="_blank" alt="Edit this page" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-editor-mode-edit"></i></a>
                    </li>
                    <li class="search-out">
                          <input type="text" class="search-out-text">
                    </li>
                        <li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->

  </header>


  <div id="main">
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
              <li class="bold"><a href="{{ site.baseurl }}/" class="waves-effect waves-cyan"><i class="mdi-action-home"></i> Introduction</a>
              </li>

              <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                      <li class="bold active"><a class="collapsible-header  waves-effect waves-cyan active"><i class="mdi-image-flash-on"></i> Quick Start</a>
                          <div class="collapsible-body" style="display:block;">
                              <ul>

              

              <li class="bold"><a href="{{ site.baseurl }}/quick_start" class="waves-effect waves-cyan" style="margin-left: 4rem;"> Delimited</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/quick_start_fixed" class="waves-effect waves-cyan" style="margin-left: 4rem;"> Fixed Length</a>
              </li>
              <li class="bold"><a href="{{ site.baseurl }}/quick_start_async" class="waves-effect waves-cyan" style="margin-left: 4rem;"> Record by Record</a>
              </li>

    </ul>
                          </div>
                      </li>
</ul>
</li>
              <li class="bold"><a href="{{ site.baseurl }}/attributes" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Attributes</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/download" class="waves-effect waves-cyan"><i class="mdi-file-file-download"></i> Download</a></li>
              <li class="bold"><a href="{{ site.baseurl }}/examples" class="waves-effect waves-cyan"><i class="mdi-image-palette"></i> Examples</a></li>

            <li><a href="{{ site.baseurl }}/docs/"><i class="mdi-communication-live-help"></i> Api Docs</a></li>
            <li><a href="{{ site.baseurl }}/changelog"><i class="mdi-action-swap-vert-circle"></i> Changelog</a></li>
            <li class="li-hover"><div class="divider"></div></li>
            <li><a href="https://github.com/MarcosMeli/FileHelpers"><i class="mdi-file-cloud-queue"></i> Source Code</a></li>

          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
      </aside>

      <!-- END LEFT SIDEBAR NAV-->

   
      <section id="content">
        
{% unless page.breadcrumbhidden %}

        <div id="breadcrumbs-wrapper" class="grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{ page.title  }}</h5>
                <ol class="breadcrumb">
                    <li><a href="{{ site.baseurl }}/">FileHelpers</a></li>

    {% if page.breadcrumbtext2 %} 
                    <li><a href="{{ site.baseurl }}/{{ page.breadcrumblink2 }}">{{ page.breadcrumbtext2 }}</a></li>
    {% endif %} 

                    <li class="active">{{ page.title  }}</li>

                </ol>
              </div>
            </div>
          </div>
        </div>

{% endunless %}         
