<%@ CodeTemplate Src="Common.vb" Inherits="FileHelperTemplate"  Debug="False" Language="VB" TargetLanguage="CS" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" %>    
<%@ Property Name="ClassName" Type="String" %>    
<%@ Property Name="FixedLength" Type="Boolean" %>    
<%@ Property Name="DelimitedChar" Type="Char" %>    

<% If FixedLength %>
	[FixedLengthRecord]
<% Else %>
	[DelimitedRecord("<%= DelimitedChar %>")]
<% End If %>
	public class <%= ClassName %>
	{
	<% Dim i As Integer = 0 %>
	<% For Each col As ColumnSchema in Table.Columns %>
	<% If FixedLength %>
		[FixedLength(8)]
	<% End If %>
		public <%= GetCsVariableType(col) %> <%= col.Name %>;

	<% i = i + 1 %>
	<% Next %>
	}
