<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include header.breadcrumbs.html %}

        <!--start container-->
        <div class="container">

          <div class="section">

        {{ content }}

    </div>

      <div class="row" style="margin-top:30px;"/>
        <div class="col s12"/>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-0287496280465709",
                enable_page_level_ads: true
           });
      </script>
         </div>
      </div>

    </div>



    {% include footer.html %}

  </body>

</html>
